<div class="wrapper-form-location">
    <form action="" class="form-location">
        <div class="form-location__check-full-time">
            <input type="checkbox" name="full_time" id="full-time">
            <label for="full-time">Full time</label>
        </div>
        <div class="form-location__input-location">
            <label for="location">location</label>
            <div class="icon">
                <i class="ri-earth-line"></i>
            </div>
            <input type="text" placeholder="       City, state, zip code or country">
        </div>
        <div class="form-location__list-radio">
            <div class="group-item">
                <input type="radio" name="location" id="london">
                <label for="london">London</label>
            </div>

            <div class="group-item">
                <input type="radio" name="location" id="amsterdam">
                <label for="amsterdam">Amsterdam</label>
            </div>

            <div class="group-item">
                <input type="radio" name="location" id="new-york">
                <label for="new-york">New York</label>
            </div>

            <div class="group-item">
                <input type="radio" name="location" id="berlin">
                <label for="berlin">Berlin</label>
            </div>
        </div>

    </form>

</div>